@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
h1{
	color: #6fbb9a;
	text-align: center ;
	font-size: 250%;
}
h2{
	color: #6fbb9a;
	border: #94c8b1 1px dotted;
	border-left: #d0e35b 10px solid;
	padding: 5px 20px;
	margin-bottom: 0;
}
h3{
	color: #6fbb9a;
	border: #94c8b1 1px dotted;
	border-left: #d0e35b 10px solid;
	padding: 5px 20px;
	margin-bottom: 0;
}
p{
	font-family: "LXGW WenKai Mono TC", monospace;
}
a:link {color:#FF0000;} 
a:visited {color:#00FF00;} 
a:hover {color:#FF00FF;}
a:active {color:#0000FF;}

background-color可改變背景顏色
a:link {color:#FF0000; background-color:#00FF00;} 
body{
	background-position: center;
	background-color: #fbf9cc;
	background-size: 600px ;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

#wrap{
	width: 798px;
	margin: 40px auto;
	padding: 40px 80px;
	border: #f6bb9e 1px solid;
	background-color: #fff;
}
div{
	background-color: #cffebe;
	.a { background-color: #ff0000 };
	padding:#cffebe
}
#top {
    position: fixed;
    bottom: 30px;
    right: 30px;
	transform: scale(2);
}
#try {
    position: fixed;
    bottom: 30px;
    left: 30px;
	transform: scale(2);
}
/* Add a black background color to the top navigation */
/* --- 固定在最上方的導覽列 --- */
.topnav {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: fixed;     /* 固定在頂部 */
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}